services:
  # Base de datos del Core (Resultados)
  postgres-core:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: core_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    networks:
      - mundial-net

  # Base de datos del Oráculo (Predicciones)
  postgres-oracle:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: oracle_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432" # Mapeado al puerto externo 5433 para no chocar
    networks:
      - mundial-net

  # Microservicio Core
  tournament-core:
    build:
      context: ./backend/tournament-core
      dockerfile: Dockerfile
    container_name: tournament-core
    ports:
      - "8080:8080"
    environment:
      SPRING_R2DBC_URL: r2dbc:postgresql://postgres-core:5432/core_db
      SPRING_R2DBC_USERNAME: user
      SPRING_R2DBC_PASSWORD: password
    depends_on:
      - postgres-core
    networks:
      - mundial-net

  # Microservicio Oráculo
  oracle-engine:
    build:
      context: ./backend/oracle-engine
      dockerfile: Dockerfile
    container_name: oracle-engine
    ports:
      - "8081:8080" # Corre en puerto 8081
    environment:
      SPRING_R2DBC_URL: r2dbc:postgresql://postgres-oracle:5432/oracle_db
      SPRING_R2DBC_USERNAME: user
      SPRING_R2DBC_PASSWORD: password
      # URL para hablar con el core (usando nombre de servicio docker)
      CORE_SERVICE_URL: http://tournament-core:8080
    depends_on:
      - postgres-oracle
      - tournament-core
    networks:
      - mundial-net

  # --- Cliente Angular ---
  angular-client:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: angular-frontend
    ports:
      - "80:80" # Accederás a tu app por http://localhost
    networks:
      - mundial-net
    depends_on:
      - tournament-core
      - oracle-engine

networks:
  mundial-net:
    driver: bridge